.accordion-menu li {
    position: relative;
}
.dropdownlink {
    cursor: pointer;
    display: block;
    position: relative;
    transition: all 0.4s ease-out;
}

//список выпадающий
.submenuItems {
    width: 140%;
    position: absolute;
    z-index: 100;
    top: 25px;
    left: -20px;
    display: none;
    background: #ffffff;
    // border: 1px solid #b6b6b6;
    border-radius: 20px;
    li {
        border-radius: 20px;
        transition: 0.3s;
        border: 1px solid #0072bc;
        box-shadow: 0 0 2px 2px #0071bc4b;
        margin-bottom: 2px;
        &:hover {
            color: white;
            background-color: #0072bc;
        }
    }
}

.dropdownlink {
    position: relative;
    padding-right: 20px;
    transition: 0.5s ease;
    border-bottom: 2px solid transparent;
    &::after {
        //стрелка
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 9px;
        height: 100%;
        background-image: url("../img/icons/arrow-down.svg#arrow-down");
        background-size: 100% 100%;
        transition: 0.5s;
    }

    &::before {
        //подчеркивание
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 2px;
        background-color: #0072bc;
        transform: scale(0);
        transition: 0.3s;
    }
    &:hover {
        &::before {
            transform: scale(1);
        }
    }
}

.accordion-menu li.open .dropdownlink {
    &::after {
        transform: rotate(180deg);
    }
}

.submenuItems li a {
    display: block;
    padding: 10px;
    padding-left: 20px;
}
