@import '_reset.scss'
@import '_accordion.scss'
@import '_button-sidebar.scss'

@import _common.sass
@import blocks/_header.sass
@import blocks/_daily.sass


.container
    max-width: 1000px
    margin: 0 auto

.main-wrapper
    background-color: #ebebeb5e
    padding-top: 20px
    &__inner // этот уже ограничен контейнером
        display: flex
        flex-wrap: wrap


.main
    flex-basis: 46%
    // flex-grow: 1
    // max-width: 460px
    margin: 0 20px
    display: flex
    flex-wrap: wrap
    align-content: flex-start
    justify-content: space-between
    &__large-news
        max-height: 320px
        margin-bottom: 15px
        flex-basis: 100%
        padding: 0 20px 40px
        min-height: 320px
    &__small-news
        flex-basis: 220px
        margin-bottom: 20px


.large-news
    display: flex
    flex-direction: column
    justify-content: flex-end
    background-repeat: no-repeat
    background-size: cover
    overflow: hidden
    color: #ffffff
    &__hashtag
        align-self: flex-start
        margin-bottom: 15px
        border-bottom: 1px solid transparent
        color: #ffffff
    &__link
        display: block
        margin-bottom: 20px
    &__title
        max-width: 370px
        font-size: 30px
        font-weight: 700
        line-height: 35px
        border-bottom: 3px solid transparent
    &__footer
    &__date
        margin-right: 17px
    &__time-icon
        fill: #ffffff

.small-news
    flex-basis: 48%
    display: flex
    flex-direction: column

    &__link
    &__image
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,0) 100%)
        max-width: 100%
        object-fit: cover
        width: 100%
        &-wrap
            max-height: 142px
            margin-bottom: 5px
            overflow: hidden
    &__title
        max-height: 60px
        overflow: hidden
        margin-bottom: 12px
        font-size: 1.4rem
        font-weight: 700
        line-height: 20px
    &__footer
        margin-top: auto
        align-items: flex-end
    &__hashtag
        margin-right: 15px
    &__time
        margin-right: 15px
    &__comments

.adverts
    // max-width: 250px
    flex-basis: 25%
    &__item
        display: block
        &:not(:last-child)
            margin-bottom: 20px
    &__image
        max-width: 100%

.enormous-news
    flex-basis: 59%
    background-repeat: no-repeat
    background-size: cover
    border: 1px solid #000

.popular-news
    flex-basis: 41%
    border: 1px solid #000

@media ( min-width: 1199px )
    .large-news
        position: relative
        //позиционирование нужно для псевдо элемента, который появляется только на пк но если оставить позиционирование на телефонах
        //то новость вылазит перед менюшкой
        &::after
            content: ''
            position: absolute
            bottom: 0
            left: 0
            width: 100%
            height: 100%
            transform: translateY(100%)
            pointer-events: none
            transition: 0.5s ease 
            background: linear-gradient(360deg, rgba(2,0,36,0.3) 0%, rgba(255,255,255,0) 100%)
        &:hover
            &::after
                transform: translateY(0)
        &__hashtag
            &:hover
                color: #fff
                border-bottom: 1px solid #fff
        &__title
            transition: 0.3s
            &:hover
                border-color: white

    .small-news
        &__image
            transition: 0.5s ease
            &:hover
                transform: scale(1.15)
            &-wrap
                position: relative
                &::after
                    content: ''
                    position: absolute
                    bottom: 0
                    left: 0
                    width: 100%
                    height: 100%
                    transform: translateY(100%)
                    pointer-events: none
                    transition: 0.5s ease 
                    background: linear-gradient(360deg, rgba(2,0,36,0.5) 0%, rgba(255,255,255,0) 100%)
                &:hover
                    &::after
                        transform: translateY(0)
                
        &__title
            transition: 0.2s ease
            &:hover
                color: $decor-main


@media ( max-width: 1199px )
    .container
        width: 100%
        padding: 0 20px
    .daily
        flex-basis: 25%
    .main
        flex-basis: 45%
        flex-grow: 1
    .adverts
        flex-basis: 20%

@media ( max-width: 991px )
    //из другого фала
    .daily
        flex-grow: 1
    .main
        flex-grow: 3
    .adverts
        // flex-basis: 20%

@media ( max-width: 767px )
    .main-wrapper
        margin-top: 68px
        //так как шапка фиксирована, нужно предотвратить заезжание контента под нее
    //из другого фала

    .large-news
        &__title
            font-size: 24px

    .adverts
        display: none


@media ( max-width: 640px )

    .daily
        flex-basis: 100%
    
    .main
        flex-basis: 100%
        order: -1
    .small-news

        // display: flex
        // flex-direction: column
        &__title
            // margin-bottom: auto
        &__footer
            // margin-top: auto
    
@media ( max-width: 575px )
    .main-wrapper
        margin-top: 68px
        &__inner
            // flex-wrap: wrap
            flex-direction: column
            align-items: center

    .main
        margin: 0
        // justify-content: center

@media ( max-width: 480px )
    .main-wrapper
        margin-top: 60px


@media ( max-width: 380px )
    .main
        justify-content: center
    .small-news
        flex-basis: 100%
        width: auto
        max-width: none
        &__image
            &-wrap
                max-height: none