@import '_reset.scss'
@import '_accordion.scss'
@import '_button-sidebar.scss'

@import _common.sass
@import blocks/_header.sass


.container
    max-width: 1000px
    margin: 0 auto

.main
    &__body


@media ( max-width: 1199px )
    .container
        width: 100%
        padding: 0 20px

@media ( max-width: 767px )
    .main
        &__body
            margin-top: 90px

@media ( max-width: 480px )
    .main
        &__body
            margin-top: 80px