.popular-news {
    flex-basis: 41%;
    margin-top: 20px;
    border: 1px solid #000;
    background-color: #fff;
    &__title {
        padding: 25px 0 25px 17px;
        font-size: 20px;
        font-weight: 700;
        border-bottom: 1px solid #00000036;
    }
    &__body {
        padding: 25px 17px 0px 17px;
    }
    &__list {
    }
    &__item {
        margin-bottom: 32px;
    }
}

.popular-item {
    &__title {
        display: block;
        margin-bottom: 10px;
        line-height: 22px;
        font-weight: 700;
        @include cut-text(2);
    }
    &__footer {
        // justify-content: space-between;
        align-items: flex-end;
        margin-top: auto;
        max-width: 200px;
    }
    &__hashtag {
        margin-right: 15px;
    }
    &__time {
        margin-right: 15px;
    }
}

@media (min-width: 1200px) {
    .popular-item {
        &__title {
            transition: 0.2s ease;
            &:hover {
                color: $decor-main;
            }
        }
    }
}
