/* RESET */
/*  ------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.accordion-menu li {
  position: relative;
}

.dropdownlink {
  cursor: pointer;
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.submenuItems {
  width: 140%;
  position: absolute;
  z-index: 100;
  top: 25px;
  left: -20px;
  display: none;
  background: #ffffff;
  border-radius: 20px;
}

.submenuItems li {
  border-radius: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #0072bc;
  -webkit-box-shadow: 0 0 2px 2px #0071bc4b;
          box-shadow: 0 0 2px 2px #0071bc4b;
  margin-bottom: 2px;
}

.submenuItems li:hover {
  color: white;
  background-color: #0072bc;
}

.dropdownlink {
  position: relative;
  padding-right: 20px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  border-bottom: 2px solid transparent;
}

.dropdownlink::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 9px;
  height: 100%;
  background-image: url("../img/icons/arrow-down.svg#arrow-down");
  background-size: 100% 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.dropdownlink::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #0072bc;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.dropdownlink:hover::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.accordion-menu li.open .dropdownlink::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.submenuItems li a {
  display: block;
  padding: 10px;
  padding-left: 20px;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.hamburger {
  /* margin: 0 auto; */
  margin-right: 20px;
  width: 30px;
  height: 30px;
  position: relative;
}

.hamburger .bar {
  padding: 0;
  width: 30px;
  height: 3px;
  background-color: #000;
  display: block;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.bar1 {
  top: 4px;
}

.bar2,
.bar3 {
  top: 13.5px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 3px;
}

/* HAMBURGER 2 */
.checkbox2:checked + label > .hamburger2 > .bar1 {
  -webkit-transform: translateX(40px);
      -ms-transform: translateX(40px);
          transform: translateX(40px);
  background-color: transparent;
}

.checkbox2:checked + label > .hamburger2 > .bar2 {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.checkbox2:checked + label > .hamburger2 > .bar3 {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.checkbox2:checked + label > .hamburger2 > .bar4 {
  -webkit-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
          transform: translateX(-40px);
  background-color: transparent;
}

@media (max-width: 575px) {
  .hamburger {
    margin-right: 10px;
  }
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-500.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Arial";
  font-size: 1.6rem;
}

.btn-scroll {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: transparent;
  fill: #ffd200;
  border-radius: 50%;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.btn-scroll:hover {
  fill: #f0c500;
}

.btn-scroll__image {
  display: block;
  width: 50px;
  height: 50px;
}

@media (max-width: 991px) {
  .btn-scroll {
    right: 20px;
    bottom: 20px;
  }
  .btn-scroll__image {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 767px) {
  .btn-scroll {
    right: 10px;
    bottom: 10px;
  }
  .btn-scroll__image {
    width: 30px;
    height: 30px;
  }
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 30px 0;
}

.header__logo {
  margin-right: 6%;
}

.header__city-select {
  margin-right: auto;
  color: #0072bc;
}

.header__weather {
  margin-right: 5%;
}

.header__search-form {
  -ms-flex-preferred-size: 320px;
      flex-basis: 320px;
}

.header__navigation {
  margin-top: 35px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.header__toggle-sidebar {
  display: none;
}

.header-tagline {
  background-color: #00122f;
}

.header-tagline__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  color: #fff;
}

.header-tagline__underline {
  text-decoration: underline;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 8px;
  fill: #0072bc;
}

.logo__text {
  max-width: 75px;
  font-weight: 700;
}

.weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather__icon {
  width: 30px;
  height: 20px;
  fill: #0072bc;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.search-form__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 23px;
  background-color: #ebebeb;
  opacity: 0.6;
  padding: 15px 45px 15px 20px;
  font-size: 14px;
  border: 1px solid transparent;
}

.search-form__input:active, .search-form__input:focus {
  border: 1px solid grey;
}

.search-form__submit {
  position: absolute;
  top: 5px;
  right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.search-form__submit:active, .search-form__submit:focus, .search-form__submit:hover {
  border: 1px solid grey;
}

.search-form__icon {
  width: 15px;
  height: 15px;
}

.header-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-navigation__item {
  position: relative;
}

.header-navigation__item:nth-of-type(odd):not(:first-child) {
  opacity: 0.3;
  color: #91919f;
  font-size: 20px;
  pointer-events: none;
}

.header-navigation__search-form {
  display: none;
}

@media (min-width: 1200px) {
  .header-navigation__item::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #0072bc;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .header-navigation__item:hover::before {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 991px) {
  .header__logo {
    margin-right: 3%;
  }
  .header__city-select {
    margin-right: 3%;
  }
  .header__weather {
    margin-right: 3%;
  }
}

@media (max-width: 767px) {
  body.lock-scroll {
    overflow: hidden;
  }
  .header {
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
  }
  .header__body {
    padding: 20px 0;
  }
  .header__logo {
    margin-right: auto;
  }
  .header__city-select {
    margin-right: 3%;
    display: none;
  }
  .header__weather {
    margin-right: 3%;
  }
  .header__toggle-sidebar {
    display: block;
  }
  .header-tagline__body {
    padding: 10px 0;
    font-size: 14px;
    display: none;
  }
  .header-navigation {
    position: fixed;
    top: 88px;
    left: 0;
    margin-top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    -webkit-transform: translateX(-120%);
        -ms-transform: translateX(-120%);
            transform: translateX(-120%);
  }
  .header-navigation.header-navigation_active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .header-navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 20px;
    overflow-y: scroll;
    height: calc(100vh - 88px);
    padding-bottom: 20px;
    background-color: #fff;
  }
  .header-navigation__item {
    background-color: #fff;
  }
  .header-navigation__item:not(:last-child):not(:first-child) {
    border-bottom: 1px solid lightgray;
  }
  .header-navigation__item:nth-of-type(odd) {
    display: none;
  }
  .header-navigation__link {
    display: block;
    padding: 20px;
  }
  .header-navigation__link:active, .header-navigation__link:focus {
    color: white;
    background-color: #0072bc;
  }
  .search-form {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .search-form__input {
    width: 110px;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .search-form__input:active, .search-form__input:focus {
    width: 170px;
  }
}

@media (max-width: 575px) {
  .header {
    top: -1px;
    background-color: #fff;
  }
  .header__body {
    padding: 10px 0;
  }
  .header-navigation {
    top: 68px;
  }
  .header-navigation__list {
    height: calc(100vh - 68px);
  }
}

@media (max-width: 480px) {
  .header__search-form {
    display: none;
  }
  .search-form__input {
    width: 100%;
  }
  .search-form__input:active, .search-form__input:focus {
    width: 100%;
  }
  .header-navigation {
    top: 59px;
  }
  .header-navigation__list {
    height: calc(100vh - 59px);
  }
  .header-navigation__item:first-child {
    display: block;
  }
  .header-navigation__search-form {
    display: block;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 10px;
    position: relative;
    z-index: 101;
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .main__body {
    margin-top: 90px;
  }
}

@media (max-width: 480px) {
  .main__body {
    margin-top: 80px;
  }
}
